In [1]:
#1(a)
n= int(input("Enter the number of rows"));
#n=5
k = 1
for i in range(0, n):
    for j in range(0, k):
        print("* ", end="")
    k = k + 1
    print()

Enter the number of rows5
*
* *
* * *
* * * *
* * * * *

In [2]:
#1(b)
n = 5
for i in range(n+1):
    for j in range(1, i+1):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [3]:
#1(c)
n = 5
for i in range(n+1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
#1(e)

for i in range(1, 6):
    for j in range(i, i+i):
        print(j%2, end="")
    print()

1
01
101
0101
10101

In [8]:
#1(f)

r = 5 
c = 1
for i in range(r+1):
	for j in range(1,i+1):
		print(c,'\t',end="")
		c=c+1	
	print()

1
2 	3
4 	5 	6
7 	8 	9 	10
11 	12 	13 	14 	15

In [12]:
#1(g)
n=5

for i in range(n,0,-1):

   for j in range (n,i-1,-1):

       print(j,end="")

   print()

5
54
543
5432
54321

In [13]:
#1(h)
for i in range(5, 0, -1):
    for j in range(i, 6):
        print(i, end="")
    print()

5
44
333
2222
11111

In [1]:
#1(i)

rows = 5
for i in range(rows + 1, 0, -1):
    # nested reverse loop
    for j in range(0, i - 1):
        # display star
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [2]:
#1 (j)
for i in range(1, 6):
    for j in range(i, 6):
        print(i, end="")
    print()

11111
2222
333
44
5

In [3]:
#1(k)

for i in range(6, 1, -1):
    for j in range(1, i):
        print(j, end="")
    print()

12345
1234
123
12
1

In [4]:
#1(l)

n=5
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(i,end="")
    print()

55555
4444
333
22
1

In [5]:
#1(m)
for i in range(1, 6):
    for j in range(5, i-1,-1):
        print(j, end="")
    print()

54321
5432
543
54
5

In [7]:
i=0
s=""
for _ in range(5):
    s+=str(i+1)
    print(s.center(9))
    s+=str(i+2)
    i+=2

    1
   123
  12345
 1234567
123456789

In [6]:
#2 (n)

n=5
for i in range(0, n):
   for j in range(0, n-i-1):
        print(end=" ")
   for j in range(0, i+1):
      print("*", end=" ")
   print()

    *
   * *
  * * *
 * * * *
* * * * *

In [8]:
#3(v)
rows = 5

k = 0
count=0
count1=0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print("  ", end="")
        count+=1
    
    while k!=((2*i)-1):
        if count<=rows-1:
            print(i+k, end=" ")
            count+=1
        else:
            count1+=1
            print(i+k-(2*count1), end=" ")
        k += 1
    
    count1 = count = k = 0
    print()

        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [5]:
s=""
for i in range(5):
    s+=' '+str(i+1)
    print(s.center(10))

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [3]:
#2(o)
n=5
for i in range(1, n+1):
   for j in range(1, i+1):
        print(end=" ")
   for j in range(0, i+1):
      print( )
print()

In [5]:
#2(p)
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        print("* ", end="")
    print("")

        *
      * *
    * * *
  * * * *
* * * * *

In [4]:
#2(q)
rows = 6
for i in range(1, rows):
    num = 1
    for j in range(rows, 0, -1):
        if j > i:
            print(" ", end=' ')
        else:
            print(num, end=' ')
            num += 1
    print("")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [6]:
i=1
for x in range(1,10,2):
    print((str(i)*x).center(9))
    i+=1

    1
   222
  33333
 4444444
555555555

In [8]:
a=5
s=""
for i in range(5):
    s=(s[0:i*2]+' '+str(a)+' '+s[(i*2)-1::-1])
    print(s.center(20))
    a-=1

         5
       5 4 5
     5 4 3 4 5
   5 4 3 2 3 4 5
 5 4 3 2 1 2 3 4 5

In [9]:
a=5
for i in range(9,0,-2):
    print(((str(a)+' ')*i).center(18))
    a-=1

5 5 5 5 5 5 5 5 5
  4 4 4 4 4 4 4
    3 3 3 3 3
      2 2 2
        1

In [10]:
for i in range(9,0,-2):
    s=""
    for x in range(1,i+1):
        s+=' '+str(x)
    print(s.center(18))

 1 2 3 4 5 6 7 8 9
   1 2 3 4 5 6 7
     1 2 3 4 5
       1 2 3
         1

In [6]:
#4(z3)
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    for j in range(0, k):
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")
    
k = rows - 2

for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [11]:
a=5
for i in range(9,0,-2):
    s=""
    c=1
    for x in range(i):
        if(a==i):
            c=-1
        s+=' '+str(a)
        a+=c
    print(s.center(18))

 5 6 7 8 9 8 7 6 5
   4 5 6 7 6 5 4
     3 4 5 4 3
       2 3 2
         1

In [12]:
for i in range(9,0,-2):
    a=5
    s=""
    c=-1
    for x in range(i):
        if(x==int((i/2))):
            c=1
        s+=' '+str(a)
        a+=c
    print(s.center(18))

 5 4 3 2 1 2 3 4 5
   5 4 3 2 3 4 5
     5 4 3 4 5
       5 4 5
         5

In [13]:
c=2
i=1
while i<18 and i>0:
    print(((str(i-int(i/2))+' ')*i).center(18))
    if(i==9):
        c=-2
    i+=c

        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5
  4 4 4 4 4 4 4
    3 3 3 3 3
      2 2 2
        1

In [9]:
#62(a)
side = 7
i = 0
 

while(i < side):
    j = 0
    while(j < side):      
        j = j + 1
        print('*', end = '  ')
    i = i + 1
    print('')

*  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *

In [14]:
c=2
i=1
while i>0:
    s=""
    for x in range(i):
        s+=' '+str(x+1)
    print(s.center(17))
    if(i==9):
        c=-2
    i+=c

         1
       1 2 3
     1 2 3 4 5
   1 2 3 4 5 6 7
 1 2 3 4 5 6 7 8 9
   1 2 3 4 5 6 7
     1 2 3 4 5
       1 2 3
         1

In [11]:
#62(b)
side = 7


i = 0
while(i < side):
    j = 0
    while(j < side):
        if(i == 0 or i == side - 1 or j == 0 or j == side - 1):
            print('*', end = '  ')
        else:
            print(' ', end = '  ')
        j = j + 1
    i = i + 1
    print()

*  *  *  *  *  *  *
*                 *
*                 *
*                 *
*                 *
*                 *
*  *  *  *  *  *  *

In [15]:
a=5
s=""
i=1
x=1
while i>0:
    s=(s[0:(i-1)*2]+' '+str(a)+' '+(s[((i-1)*2)::-1]).strip()+' ')
    print(s.center(19))
    if(i==5):
        x=-1
    a-=x
    i+=x

         5
       5 4 5
     5 4 3 4 5
   5 4 3 2 3 4 5
 5 4 3 2 1 2 3 4 5
   5 4 3 2 3 4 5
     5 4 3 4 5
       5 4 5
         5

In [16]:
#3
r=5
# It is used to print space  
k = 2 * r - 2  
# Outer loop in reverse order  
for i in range(r, -1, -1):  
    # Inner loop will print the number of space.  
    for j in range(k, 0, -1):  
        print(end=" ")  
    k = k + 1  
    # This inner loop will print the number o stars  
    for j in range(0, i + 1):  
        print("*", end=" ")  
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [17]:
#5(a)
def solve(n, m):
   for i in range(1,n,2):
      print ('-'*int((m-i*3)/2)+'.|.'*i+'-'*int((m-i*3)/2))

   print('-'*int((m-7)/2)+'WELCOME'+'-'*int((m-7)/2))

   for i in range(n-2,-1,-2):
      print ('-'*int((m-i*3)/2)+'.|.'*i+'-'*int((m-i*3)/2))

n = 11
m = 33
solve(n, m)

---------------.|.---------------
------------.|..|..|.------------
---------.|..|..|..|..|.---------
------.|..|..|..|..|..|..|.------
---.|..|..|..|..|..|..|..|..|.---
-------------WELCOME-------------
---.|..|..|..|..|..|..|..|..|.---
------.|..|..|..|..|..|..|.------
---------.|..|..|..|..|.---------
------------.|..|..|.------------
---------------.|.---------------

In [14]:
#5(b)
def print_rangoli(size):
   
    import string
    design = string.ascii_lowercase

    L = []
    for i in range(n):
        s = "-".join(design[i:n])
        L.append((s[::-1]+s[1:]).center(4*n-3, "-"))
        
    print('\n'.join(L[:0:-1]+L))


if __name__ == '__main__':
    n = int(input("Enter thhe size:"))
    print_rangoli(n)

Enter thhe size:10
------------------j------------------
----------------j-i-j----------------
--------------j-i-h-i-j--------------
------------j-i-h-g-h-i-j------------
----------j-i-h-g-f-g-h-i-j----------
--------j-i-h-g-f-e-f-g-h-i-j--------
------j-i-h-g-f-e-d-e-f-g-h-i-j------
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
j-i-h-g-f-e-d-c-b-a-b-c-d-e-f-g-h-i-j
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
------j-i-h-g-f-e-d-e-f-g-h-i-j------
--------j-i-h-g-f-e-f-g-h-i-j--------
----------j-i-h-g-f-g-h-i-j----------
------------j-i-h-g-h-i-j------------
--------------j-i-h-i-j--------------
----------------j-i-j----------------
------------------j------------------